# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
output_data_file = "output_data/cities.csv"
vacationdata = pd.read_csv('output_data/cities.csv')
vacationdata = vacationdata.rename(columns={"Unnamed: 0": "List Number"})
vacationdata.head()

,List Number,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,santo domingo,100,EC,1569550998,86,-0.59,-80.00,69.86,3.38
1,1,lubu,0,CN,1569550998,36,23.17,112.28,85.52,3.51
2,2,vaini,75,IN,1569550999,94,15.34,74.49,71.60,6.93
3,3,carnarvon,0,ZA,1569550999,18,-30.97,22.13,50.42,5.19
4,4,avarua,100,CK,1569550944,78,-21.21,-159.78,77.00,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
# Plot Heatmap
fig = gmaps.figure()
locations = vacationdata[["Lat", "Lng"]]
Humidity = vacationdata["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=5,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
Narrow down the cities to fit weather conditions.
Drop any rows will null values. A max temperature lower than 80 degrees but higher than 70.
 Wind speed less than 10 mph.
Zero cloudiness.
Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

  * **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [8]:
vacation_data_na = vacationdata.dropna()
vacation_data_na.head()

,List Number,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,santo domingo,100,EC,1569550998,86,-0.59,-80.00,69.86,3.38
1,1,lubu,0,CN,1569550998,36,23.17,112.28,85.52,3.51
2,2,vaini,75,IN,1569550999,94,15.34,74.49,71.60,6.93
3,3,carnarvon,0,ZA,1569550999,18,-30.97,22.13,50.42,5.19
4,4,avarua,100,CK,1569550944,78,-21.21,-159.78,77.00,3.36

In [ ]:
# Conditional Sorting
windspeeds_df = vacation_data_na

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map